html
{
  height: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.container
{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button img,
button img
{
  height: 100%;
}

/*planned_for_day*/
.listed-exercise-name a
{
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.listed-exercise-name hr
{
  margin: 0;
}

.completed
{
  background-image: url("../images/check.svg");
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: right center;
}

.completed a
{
  color: rgb(70, 70, 70);
}

.start-hidden
{
  display: none;
}

/*performance_input*/
.planned-exercise
{
  font-size: 1.2rem;
  color: #404040;
}

h4 .header-nav-icon
{
  height: 2.25rem;
}

/*create_plan*/
table thead a
{
  color: rgb(34, 34, 34);
  text-decoration: none;
}

table thead a:hover
{
  color: rgb(50, 50, 50);
}

table thead img
{
  height: 1.5rem;
}

table tbody a
{
  color: rgb(34, 34, 34);
}

table tbody a:hover
{
  color: rgb(50, 50, 50);
}
